
<main>
    <h1 class="title">admin</h1>
    <div class="adminswichpanel">
        <div class="adminswich">
            <h5>messages count: {{#if messCount}}{{messCount}}{{else}}nocout{{/if}}</h5>
            <input class="btn-green" onclick="send('readMessages')" value="читати листи">
        </div>
        <div class="adminswich">
            <h5>conferenceApp count: {{#if confAppCount}}{{confAppCount}}{{else}}nocout{{/if}}</h5>
            <input class="btn-green" onclick="send('readConfApp')" value="читати заявки">
        </div>
        <div class="adminswich">
            <h3>conference coun: {{#if divCount}}{{divCount}}{{else}}nocout{{/if}} </h3>
            <input class="btn-green" onclick="send('addDivision')" value="додати конференцію +">
        </div>
    </div>
    {{#each conf}}
    <div class="showconf">
        <div class="center">
            {{title}}
            {{confDate}} 
        </div>
        <div>
            <input class="btn btn-grey" onclick="send('saveConfApp', '{{_id}}')" type="button" value="edit">
            <input class="btn btn-red remove" onclick="deleteConf('{{_id}}')" type="button" value="x">
        </div>
    </div>
    {{/each}}
</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/admin/error.js"></script>
        <script src="/scripts/admin/admin.js"></script>
        <script src="/scripts/admin/deleteConf.js"></script>
{{/section}}