
<main class="animated fadeIn">
    <h1 class="title">Найближчі конференції {{count}}</h1>
    <div class="confPlace">
        {{#if conferences}}

        {{#each conferences}}
        <label><a href="/conference/{{id}}">
            <div class="conf">
                <div class="title">{{title}}</div>
                <div class="date">{{confDate}}</div>
                <div class="place">{{description}}</div>
            </div>
            </a>
        </label>
        {{/each}}
        {{else}}
            <div class="conf">
                <div class="title">Поки нема конференції</div>
            </div>
        {{/if}}
    </div>
</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>

{{/section}}