{{#section 'head'}}
    <meta name="description" content="{{metadescription}}">
    <meta name="keywords" content="{{metakeywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="../images/socialimage.png">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="alternate" hreflang="{{lang.name}}" href="{{pageurl}}{{langUrl}}">
{{/section}}

<main class="animated fadeIn">
    <h1 class="title">Найближчі конференції {{count}}</h1>
    <div class="confPlace">
        {{#if conf}}
        {{#each conf}}
        <label><a href="/conference/{{id}}">
            <div class="conf">
                <div class="title">{{title}}</div>
                <div class="date">{{confDate}}</div>
                <div class="place">{{description}}</div>
            </div>
            </a>
        </label>
        {{/each}}
        {{else}}
            <div class="conf">
                <div class="title">Поки нема конференції</div>
            </div>
        {{/if}}
    </div>
</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>

{{/section}}